.page {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    &__header {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        color: white;
        &__table_title {
            margin: 0;

        }
    }
}