.appPage {
    min-height: 100vh;
    background: radial-gradient(#1e0918, #060219);

    &__appbar {
        background: #100000 !important;
        height: 100px;

        &__client_logo {
            height: 45px;
            margin-top: 10px;
        }

        &__l_contain {
            display: flex;
            align-items: center;
            gap: 50px;

        }
    }

    &__drawer {
        &__logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                height: 120px;
            }

            h2 {
                text-transform: uppercase;
            }
        }

        &__listitem {
            margin-top: 20px !important;
        }

        &__icon {
            font-size: 2rem;
            color: white !important;
        }

        &__text {
            font-size: 1.5rem !important;
            font-weight: 400;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-left: 10px;
        }

        &__application_menu {
            margin-top: 80px;
        }

        &__action_menu {
            margin-top: 220px;
        }

        &__footer_icon {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            gap: 10px;
            &__image {
                height: 60px;
            }
            &__content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                &__small {
                    font-size: 12px;
                }
                &__big {
                    font-size: 18px;
                    text-transform: uppercase;
                }
            }
        }
    }
}